doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    //- This is meta for mobile device
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')  
    link(rel='stylesheet', href='/css/style.css')
  body
    .container-fluid
      .row
        .col-xs-12.col-lg-2
          .list-group
            a.list-group-item(href="/author", class="#{author}") 
              .fa.fa-graduation-cap
              span محررين
            a.list-group-item(href="/category", class="#{category}") 
              .fa.fa-filter
              span تصنيفات
            a.list-group-item(href="/book", class="#{book}") 
              .fa.fa-book
              span كتب
            a.list-group-item(href="/customer", class="#{customer}") 
              .fa.fa-user
              span زبائن
            a.list-group-item(href="#", class="#{order}") 
              .fa.fa-cart-arrow-down
              span طلبات
            a.list-group-item(href="#", class="#{users}") 
              .fa.fa-users
              span مستخدمين
        block content
